body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Roboto Slab", cursive; }

h2 {
  color: black; }

header h2 {
  color: white; }

.site-footer {
  background-color: white;
  color: black;
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #1F3D0C;
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #1F3D0C;
}

.carousel-inner {
  border: solid #1F3D0C; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

 
